<nav class="es-navbar bg-dark p-3">
  <div class="flex align-items-center justify-content-between mx-3">
    <a class="text-white p-2 flex align-items-center nav-link"
       routerLink="/home"
       routerLinkActive="active">
      Crud
    </a>

    <div class="flex justify-content-center align-items-center w-full">
      <ul class="list-none p-0 m-0 flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="text-white p-2 flex align-items-center nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="text-white p-2 flex align-items-center nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="text-white p-2 flex align-items-center nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex justify-content-end align-items-center">
      <ul class="list-none p-0 m-0 flex align-items-center">
        <li class="nav-item">
          <a class="text-white p-2 flex align-items-center nav-link" routerLink="/login" routerLinkActive="active" (click)="logout()">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
