.navbar{
  height:60px;
  border-radius:10px;
}
.bg-dark {
  background-color: rgb(57 59 72) !important

}
.es-navbar{
  border-radius: 15px;
}
.nav-link {
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
