
<p-toast />
<div class="page-wrapper">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/assets/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Employee Management</span>
          <span class="text-1">System</span>
          <span class="text-2">Manage your team efficiently</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form (submit)="login()" [formGroup]="loginForm">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fa fa-solid fa-envelope"></i>
                <input type="text"
                       placeholder="Enter your username"
                       formControlName="username">
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password"
                       placeholder="Enter your password"
                       formControlName="password">
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <button pButton pRipple
                        label="Sign In"
                        class="login-button w-full"
                        [disabled]="loginForm.invalid">
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
