/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50% !important;
  height: 2rem;
  width: 2rem !important;
}

body {
  background-color: #d5d4d4; /* Replace with your desired color */
  margin: 0; /* Optional: Remove default margin */
  padding: 0; /* Optional: Remove default padding */
  height: 100%; /* Optional: Ensure the body takes up full height */
}
#job, #departmentName, #city, #countries,#managerName{
  width: 100% !important;
}

